@import "tailwindcss";

body {
  background: #050510;
  color: #fff;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Selection */
::selection {
  background: rgba(251, 191, 36, 0.3);
  color: white;
}
